*{
    margin: 0;
    padding: 0;
}

body {
    background:url(Img/carbg.jpg) no-repeat center fixed;
    background-size: cover;
}

.text-muted {
    color: #f44336!important;
}

.container{
    color:rgb(0, 26, 255);
}

.container {
    max-width: 700px;
    margin: 20px;
    margin-top: -1%;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #9284841a;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: none;
}